body, .container, .container-fluid, .jumbotron {
	background-color: #F0F1F2;
	font-family: Helvetica, Arial, sans-serif;
}


a {
	color: #1D87AB;
	text-decoration: underline;
}

a:hover {
	color: #1D87AB;
	text-decoration: none;
}

a[role='button'] {
	text-decoration: none;
}

#trial-btn {
	font-size: 2em;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#jumbotron-picture {
	border: 1px gray solid;
	border-radius: 50px;
	width: 150px;
}

.top-spacing {
	margin-top: 50px;
}

.top-spacing-small {
	margin-top: 15px;
}

.links-row {
	font-style: italic;
	margin-top: 30px;
}

.links-row a {
	margin-left: 15px;
}

header span {
	color: #2B6FA6;
}

.colorful {
	background-color: #2B6FA6;
	color: #F0F1F2;
}

.thumbnail {
	position: relative;
	min-height: 530px;
}

.thumbnail p {
	text-align: justify;
}

.thumbnail-buttons {
	position: absolute;
	bottom: 0;
	left: 15px;
}

.sidenote {
	font-size: 0.8em;
	font-style: italic;
	color: gray;
}

.no-opacity {
	opacity: 0;
	left: +200px;
}

.no-show {
	display: none;
}

/* No JavaScript CSS */
.no-js .no-show {
	display: block;
}

.no-js .no-opacity {
	opacity: 1;
	left: 0px;
}


/* Mobile devices */
@media (max-width: 600px) {
	#jumbotron-picture {
		display: none !important;
	}

	#headings {
		text-align: center;
	}

	.links-row {
		display: none;
	}

	.thumbnail {
		min-height: 0;
	}

	.thumbnail-buttons {
		position: relative;
		left: auto;
		bottom: auto;
	}
}