<aside id="author-bio">
    <div class="container">
        <div class="row">
            <div id="bio-photo" class="col-lg-2 col-lg-offset-2 col-md-1 col-md-offset-1">
                <img src="/img/bio_ivan.png" alt="{$site_author}" />
            </div>
            <div class="col-lg-6 col-md-9 col-xs-10">
                <h3>{$site_author}</h3>
                <p><a href="http://twitter.com/ikvasnica" target="_blank">@ikvasnica</a> is a Symfony & Drupal developer at <a href="http://www.b.cz" target="_blank">Business Factory</a>, working
                    on <a href="http://www.iprima.cz" target="_blank">TV Prima</a>'s projects. In past, he used to live in Norway, Denmark
                    and Slovakia, and wrote <a href="http://www.zive.sk/profil-autora/469/ivan-kvasnica" target="_blank">hundreds of articles on IT topics</a>.
                    He likes organizing <a href="https://www.facebook.com/groups/englishinbrno/" target="_blank">international events</a> and traveling.</p>
            </div>
        </div>
    </div>
</aside>