<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{$siteDescription}">
    <meta name="author" content="{$siteAuthor}">
    {ifset $tags}<meta name="keywords" content="{$tags}">{/ifset}
    <link rel="canonical" href="{block canonical_url}{ifset $canonicalUrl}{$canonicalUrl}{else}{$siteUrl}/{/ifset}{/block}">

    <title>
        {$title} | {$siteName}
    </title>

    {block add_css}
        <!-- Bootstrap Core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/css/clean-blog.min.css" rel="stylesheet">

        <!-- Highlight.js -->
        <link rel="stylesheet" href="/css/atom-one-dark.css">

        <!-- Custom Fonts -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    {/block}
</head>


<body>

    {include 'menu'}
    {block content}{/block}
    {include 'blog_footer'}

</body>

</html>