<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{$site_description}">
    <meta name="author" content="{$site_author}">
    {ifset $tags}<meta name="keywords" content="{$tags}">{/ifset}
    <link rel="canonical" href="{$site_url}/blog/">

    <title>
        {$title} | {$site_name}
    </title>

    {include '_snippets/blog_css.latte'}
</head>


<body>

    {include '_snippets/menu.latte'}
    {block content}{/block}
    {include '_snippets/blog_footer.latte'}

</body>

</html>
