---
title: "There's nothing here, really :("
permalink: /404.html
---

{block post_title}{$title}{/block}

<p>Hi, it's me, Ivan.</p>

<p>I'm really sorry for any trouble, but it seems that <strong>the page doesn't exist</strong>.</p>

<p>You can:</p>

<ul>
    <li>refresh the browser. But honestly - has it ever helped?</li>
    <li><u><a href="https://ikvasnica.com/blog">go to the main page</a></u></li>
</ul>
